Assignment_1/WF-SYLLABUS-INDEXER.json
{
  "name": "WF-SYLLABUS-INDEXER",
  "nodes": [
    {
      "parameters": {},
      "id": "2b72cc3c-3991-40e1-b84c-35ada8921cef",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1360,
        -16
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "text",
        "options": {
          "encoding": "utf8",
          "keepAsBase64": false
        }
      },
      "id": "b0c0a0b6-d585-4ff3-8d77-46ba7e86efa1",
      "name": "Move Binary → Text",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -688,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Expect: connected directly after \"Read Binary File\"\nconst crypto = require('crypto');\n\n// Verify binary presence\nconst bin = items[0].binary?.data;\nif (!bin || !bin.data) {\n  throw new Error('No binary \"data\" found. Ensure this node is right after \"Read Binary File\".');\n}\n\n// Compute SHA-256 of the raw file bytes\nconst buf = Buffer.from(bin.data, 'base64');\nconst sha = crypto.createHash('sha256').update(buf).digest('hex');\n\n// Keep binary for next node; add metadata to json\nreturn [{\n  json: {\n    filename: $json.filename || $json.fileName || $json.path || 'unknown',\n    file_sha256: sha,\n    bytes: buf.length\n  },\n  binary: items[0].binary\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        -16
      ],
      "id": "515a04bf-fecb-48b5-80c1-1425a989d494",
      "name": "Function - File ingest"
    },
    {
      "parameters": {
        "jsCode": "// INPUT (from \"Move Binary → Text\"):\n// { json: { text, filename?, file_sha256 }, binary?: { data } }\n\nconst crypto = require('crypto');\n\nconst filename = $json.filename || $json.fileName || 'unknown.md';\nconst BOARD = filename.includes('CBSE') ? 'CBSE' : 'Unknown';\nconst subj = /math/i.test(filename) ? 'maths' : (/physics/i.test(filename) ? 'physics' : 'unknown');\nconst YEAR = '2024-25';\n\nconst raw = $json.text || '';\nconst size = 950;\nconst overlap = 140;\n\nconst out = [];\nlet id = 0;\n\nfor (let i = 0; i < raw.length; i += (size - overlap), id++) {\n  const slice = raw.slice(i, i + size);\n  const chunkSha = crypto.createHash('sha256').update(slice).digest('hex');\n\n  out.push({\n    json: {\n      id: `${subj}_${YEAR}_${id}_${chunkSha.slice(0,8)}`,\n      text: slice,\n      metadata: {\n        doc_type: 'syllabus',\n        subject: subj,\n        board: BOARD,\n        year: YEAR,\n        filename,\n        chunk_id: id,\n        chunk_sha256: chunkSha,\n        file_sha256: $json.file_sha256\n      }\n    }\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -16
      ],
      "id": "acc7ebed-0919-431c-9e13-5390ae1f85e1",
      "name": "Function - Chunker & Metadata1"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "icn8n-1536",
          "mode": "list",
          "cachedResultName": "icn8n-1536"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -240,
        -16
      ],
      "id": "372751c4-c71a-4759-860e-98a849acc664",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "cjuXh9Xa7j0YG4w4",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1yc-5w9MqwAthSa1CTovSYhtMlyIpk9OK",
          "mode": "list",
          "cachedResultName": "CBSE_Maths_Syllabus_Table.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1yc-5w9MqwAthSa1CTovSYhtMlyIpk9OK/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1136,
        -16
      ],
      "id": "9de0a537-85a7-4a3a-a645-e4edac8fb476",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KRaxT9fpwUIeMHb8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        208
      ],
      "id": "181ef220-b9e4-4253-a384-6e1033e07160",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "1BSMIHKBs8M2UkWy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Metadata Field",
                "value": "=={{ $json.metadata }}"
              },
              {
                "name": "text",
                "value": "=={{ $json.text }}\n"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -112,
        208
      ],
      "id": "d72b2350-27fb-4fd0-9be5-483b6c2430d5",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary → Text": {
      "main": [
        [
          {
            "node": "Function - Chunker & Metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - File ingest": {
      "main": [
        [
          {
            "node": "Move Binary → Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Chunker & Metadata1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Function - File ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4e3a22b-3f47-4f58-9d17-af70675d6641",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8d04990b3f25ad27cebebebb7da872b45e05b8a75c457c656fcc71eaa7f315a"
  },
  "id": "7dykrvyhNJD68XnY",
  "tags": []
}